/* generale */

*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}

body{
    font-family: sans-serif;
}


/* utility */

.container{
    width: 1200px;
    margin: 0 auto;
    height: 800px;
}

.shop{
    margin: 50px;
    padding-bottom: 20px;
}



/* prodotti */

article{
    height:600px;
    width: 33%;
    display: inline-block;
    background-color: lightgray;
    vertical-align: bottom;
    cursor: p;
    position: relative;
}

.levis-relaxed{
    background-size: cover;
    background-image: url(../img/1.webp);
    height:600px;

}

.guess{
    background-size: cover;
    background-image: url(../img/2.webp)
}

.sugar{
    background-size: cover;
    background-image: url(../img/3.webp)
}

.levis-tee{
    background-size: cover;
    background-image: url(../img/4.webp)
}

.maya{
    background-size: cover;
    background-image: url(../img/5.webp)
}

.esprit{
    background-size: cover;
    background-image: url(../img/6.webp)
}

/* hovers */

.levis-relaxed:hover{
    background-image: url(../img/1b.webp)
}

.guess:hover{
    background-image: url(../img/2b.webp)
}

.sugar:hover{
    background-image: url(../img/3b.webp)
}

.levis-tee:hover{
    background-image: url(../img/4b.webp)
}

.maya:hover{
    background-image: url(../img/5b.webp)
}

.esprit:hover{
    background-image: url(../img/6b.webp)
}

.sale{
    display: inline-block;
    padding-top: 580px;
}
.marca{
    
    font-size: 10px;
    margin-top: 10px;
}

.nome-prod{
    
    font-size: 13px;
    font-weight:900;
}

.half{
    color: red;
    font-size: 11px;
    font-weight: 900;
}

.saled{
    font-size: 11px;
    text-decoration: line-through;
}

.sconto{
    background-color:mediumvioletred;
    font-size: 14px;
    padding: 3px 7px;
    font-weight: 900;
    position:relative;
    right: 0;
    bottom: 22px;
    color: white;
}

.eco{
    background-color:forestgreen;
    font-size: 14px;
    padding: 3px 7px;
    font-weight: 900;
    position:relative;
    right: 0;
    bottom: 22px;
    color: white;
}



.cuore{
    background-color: #fff;
    font-size: 22px;
    padding: 4px 7px;
    text-align: center;
    position: absolute;
    top: 20px;
    right: 0px;

}

.cuore:hover{
    color: red;
}
